.footer{
    background-color: #F6D55C;
    padding: 20px;

}

.footerTitle{
    color: rgb(29, 31, 32);
font-family: Unbounded;
font-size: 30px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0px;
text-align: left;
}

.footerLink{
    margin: 20px 0;
    display: flex;
    gap: 40px;
    color: rgb(0, 0, 0);
font-family: Syne;
font-size: 20px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0%;
text-align: left;
}