@import url(https://fonts.googleapis.com/css?family=Syne:regular,500,600,700,800);

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #1D1E1F;
  justify-content: space-between;
}

.btnTrack {
  color: rgb(255, 255, 255);
  font-family: Syne;
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  padding: 15px 20px;
  border: 0;
  border-radius: 20px;
  background: rgb(0, 130, 209);
  transition: 0.35s;
}

.btnTrack:hover {
  cursor: pointer;
  scale: 1.05;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  width: 500px;
  padding: 0 20px;
  height: 50px;
  background: rgb(16, 18, 19);
}

.navLink {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Syne;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  width: 70px;
}

.navLink:hover {
  border: 1px solid #fff;
}
