@import url(https://fonts.googleapis.com/css?family=Unbounded:200,300,regular,500,600,700,800,900);


.hero{
    background-color: #1D1E1F;
    overflow-y: hidden;
}


.herobox{
    display: flex;
/*     margin-left: 50px;
 */}

.titlebox{
    margin: 50px;
    height: 80vh;
    display: flex;
    flex-direction: column;
}


.titlebox span{
    margin: 5px;
    color: rgb(79, 160, 241);
font-family: Unbounded;
font-size: 70px;
font-weight: 400;
line-height: 70px;
letter-spacing: 0px;
text-align: left;
}

.titlebox span:nth-child(1){
    color: white;
}
.titlebox span:nth-child(2){
    color: rgb(79, 160, 241);
    margin-left: 70px;
}
.titlebox span:nth-child(3){
    color: white;
}
.titlebox span:nth-child(4){
    color: #F6D55C;
    margin-left: 70px;

}


.button{
    margin-top: 32px;
    margin-left: 275px;
width: 270px;
height: 54px;
transform: rotate(-7.00deg);
color: rgb(255, 255, 255);
font-family: Unbounded;
font-size: 24px;
font-weight: 400;
border-radius: 10px;
background: rgb(82, 169, 255);
transition: .6s;
}
.button:hover{
    transition: .6s;
    scale: 1.05;
    cursor: pointer;
}

.template{
    display: none;
    position: absolute;
    /* margin-left: 52px; */
    /* margin-top: 92px; */
    border-radius: 46px;
    width: 898px;
    height: 506px;
    left: 870.47px;
    /* right: -208.47px; */
    top: 149.17px;
    /* bottom: 154.33px; */
    transform: rotate(-9.81deg);
    background: rgb(16, 18, 19);
}