.title{
    margin: 25px;
    color: rgb(0, 0, 0);
    font-family: Unbounded;
    font-size: 70px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 2px;
    text-align: left;

}

.container{
display: flex;
justify-content: space-between;
gap: 40px;
padding: 20px;

}

.stageNumber{
    color: rgb(31, 33, 34);
    font-family: Unbounded;
    font-size: 50px;
    font-weight: 700;
    line-height: 42.5px;
    letter-spacing: 0%;
    text-align: center;
}

.stageTitle{


    color: rgb(31, 33, 34);
font-family: Unbounded;
font-size: 28px;
font-weight: 400;
line-height: 42.5px;
letter-spacing: 0%;
text-align: center;
}


.stageDescription{
width: auto;
height: 200px;

}

.sectionStage{
    padding: 80px 20px;
}