.title{

    color: rgb(40, 40, 40);
font-family: Unbounded;
font-size: 60px;
font-weight: 400;
line-height: 70px;
letter-spacing: 2px;
text-align: left;
margin-left: 20px;
}


.swiperSection{
    padding: 70px 30px;

}

.title{
    margin: 20px 0;
}

.project{
}
.projectImg{
    margin: 0 auto;
width: 400px;
height: 231.45px;
border-radius: 30px;
background: rgb(0, 0, 0);
}

.swiperblock{display: flex;}

.projectTitle{
    color: rgb(29, 31, 32);
font-family: Unbounded;
font-size: 26px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0px;
text-align: left;
}

.projectInfo{
 
display: flex;
flex-direction: row;
align-items: center;


}

.arrow{
    border: 0;
    background-color: transparent;
    width: 100px;
}


.arrow img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .3s;
}

.arrow img:hover{
    transition: .3s;
    scale: .87;
}